(dp0
VAccentMovie::AM 09 _tn_t\u026ad_review_æ::B_Speaking
p1
(dp2
S'css_text'
p3
Vbody {\u000a font-family: Times New Roman;\u000a line-height: 1.3;\u000a font-size: 12px;\u000a}\u000a\u000a.answer, .subtitle {\u000a font-family: Helvetica;\u000a}\u000a\u000a.answer, .ipa_ans, .subtitle, .ipa_sub {\u000a border-left: solid 2px;\u000a padding-left: 7px;\u000a}\u000a\u000a.answer, .ipa_ans {\u000a border-color: darkgreen;\u000a}\u000a\u000a.subtitle, .ipa_sub {\u000a border-color: orange;\u000a}\u000a\u000a\u000aline {\u000a margin-bottom: 10px;\u000a}
p4
sS'html_text'
p5
V<div class="noid">{{ID}}</div>\u000a<div class="answer">{{Answer}}</div>\u000a<div class="ipa_ans">{{IPA_Answer}}</div>\u000a<div class="subtitle">{{Subtitle}}</div>\u000a<div class="ipa_sub">{{IPA_Subtitle}}</div>\u000a<div class="extra">{{Extra}}</div>\u000a<div class="line">_______________________________</div>
p6
ssVAccentMovie::AM 07 _a\u026a_\u0254\u026a_can_can't::B_Speaking
p7
(dp8
S'css_text'
p9
Vbody {\u000a font-family: Times New Roman;\u000a line-height: 1.3;\u000a}\u000a\u000a.field2, .field4 {\u000a font-family: Helvetica;\u000a}\u000a\u000a.field2, .field3, .field4, .field5 {\u000a border-left: solid 2px;\u000a padding-left: 7px;\u000a}\u000a\u000a.field2, .field3 {\u000a border-color: darkgreen;\u000a}\u000a\u000a.field4, .field5 {\u000a border-color: orange;\u000a}\u000a\u000abody {\u000a line-spacing: 1.3;\u000a}\u000a\u000aline {\u000a margin-bottom: 10px;\u000a}
p10
sS'html_text'
p11
V<div class="field1">{{ID}}</div>\u000a<div class="field2">{{Answer}}</div>\u000a<div class="field3">{{IPA_Answer}}</div>\u000a<div class="field4">{{Subtitle}}</div>\u000a<div class="field5">{{IPA_Subtitle}}</div>\u000a<div class="field5">{{Extra}}</div>\u000a<div class="line">_______________________________</div>
p12
ssVAccentMovie::AM 04 _\u028c_ vs _\u0254_::B_Speaking
p13
(dp14
S'css_text'
p15
Vbody {\u000a font-family: Times New Roman;\u000a line-height: 1.3;\u000a}\u000a\u000a.field2, .field4 {\u000a font-family: Helvetica;\u000a}\u000a\u000a.field2, .field3, .field4, .field5 {\u000a border-left: solid 2px;\u000a padding-left: 7px;\u000a}\u000a\u000a.field2, .field3 {\u000a border-color: darkgreen;\u000a}\u000a\u000a.field4, .field5 {\u000a border-color: orange;\u000a}\u000a\u000abody {\u000a line-spacing: 1.3;\u000a}\u000a\u000aline {\u000a margin-bottom: 10px;\u000a}
p16
sS'html_text'
p17
V<div class="field1">{{ID}}</div>\u000a<div class="field2">{{Answer}}</div>\u000a<div class="field3">{{IPA_Answer}}</div>\u000a<div class="field4">{{Subtitle}}</div>\u000a<div class="field5">{{IPA_Subtitle}}</div>\u000a<div class="field5">{{Extra}}</div>\u000a<div class="line">_______________________________</div>
p18
ssVAccentMovie::AM 02 _e\u026a_ vs _\u025b_::B_Speaking
p19
(dp20
S'css_text'
p21
Vbody {\u000a font-family: Times New Roman;\u000a line-height: 1.3;\u000a}\u000a\u000a.field2, .field4 {\u000a font-family: Helvetica;\u000a}\u000a\u000a.field2, .field3, .field4, .field5 {\u000a border-left: solid 2px;\u000a padding-left: 7px;\u000a}\u000a\u000a.field2, .field3 {\u000a border-color: darkgreen;\u000a}\u000a\u000a.field4, .field5 {\u000a border-color: orange;\u000a}\u000a\u000abody {\u000a line-spacing: 1.3;\u000a}\u000a\u000aline {\u000a margin-bottom: 10px;\u000a}
p22
sS'html_text'
p23
V<div class="field1">{{ID}}</div>\u000a<div class="field2">{{Answer}}</div>\u000a<div class="field3">{{IPA_Answer}}</div>\u000a<div class="field4">{{Subtitle}}</div>\u000a<div class="field5">{{IPA_Subtitle}}</div>\u000a<div class="field5">{{Extra}}</div>\u000a<div class="line">_______________________________</div>\u000a\u000a
p24
ssVAccentMovie::AM 05 _o\u028a_ and _\u0259r_::B_Speaking
p25
(dp26
S'css_text'
p27
Vbody {\u000a font-family: Times New Roman;\u000a line-height: 1.3;\u000a}\u000a\u000a.field2, .field4 {\u000a font-family: Helvetica;\u000a}\u000a\u000a.field2, .field3, .field4, .field5 {\u000a border-left: solid 2px;\u000a padding-left: 7px;\u000a}\u000a\u000a.field2, .field3 {\u000a border-color: darkgreen;\u000a}\u000a\u000a.field4, .field5 {\u000a border-color: orange;\u000a}\u000a\u000abody {\u000a line-spacing: 1.3;\u000a}\u000a\u000aline {\u000a margin-bottom: 10px;\u000a}
p28
sS'html_text'
p29
V<div class="field1">{{ID}}</div>\u000a<div class="field2">{{Answer}}</div>\u000a<div class="field3">{{IPA_Answer}}</div>\u000a<div class="field4">{{Subtitle}}</div>\u000a<div class="field5">{{IPA_Subtitle}}</div>\u000a<div class="field5">{{Extra}}</div>\u000a<div class="line">_______________________________</div>
p30
ssVAccentMovie::AM 08 _a\u028a_middle t_review_i_\u026a_::B_Speaking
p31
(dp32
S'css_text'
p33
Vbody {\u000a font-family: Times New Roman;\u000a line-height: 1.3;\u000a font-size: 11px;\u000a}\u000a\u000a.answer, .subtitle {\u000a font-family: Helvetica;\u000a}\u000a\u000a.answer, .ipa_ans, .subtitle, .ipa_sub {\u000a border-left: solid 2px;\u000a padding-left: 7px;\u000a}\u000a\u000a.answer, .ipa_ans {\u000a border-color: darkgreen;\u000a}\u000a\u000a.subtitle, .ipa_sub {\u000a border-color: orange;\u000a}\u000a\u000a\u000aline {\u000a margin-bottom: 10px;\u000a}
p34
sS'html_text'
p35
V<div class="noid">{{ID}}</div>\u000a<div class="answer">{{Answer}}</div>\u000a<div class="ipa_ans">{{IPA_Answer}}</div>\u000a<div class="subtitle">{{Subtitle}}</div>\u000a<div class="ipa_sub">{{IPA_Subtitle}}</div>\u000a<div class="extra">{{Extra}}</div>\u000a<div class="line">_______________________________</div>
p36
ssVAccentMovie::AM 03 _æ_ vs _\u0251_::B_Speaking
p37
(dp38
S'css_text'
p39
Vbody {\u000a font-family: Times New Roman;\u000a line-height: 1.3;\u000a}\u000a\u000a.field2, .field4 {\u000a font-family: Helvetica;\u000a}\u000a\u000a.field2, .field3, .field4, .field5 {\u000a border-left: solid 2px;\u000a padding-left: 7px;\u000a}\u000a\u000a.field2, .field3 {\u000a border-color: darkgreen;\u000a}\u000a\u000a.field4, .field5 {\u000a border-color: orange;\u000a}\u000a\u000abody {\u000a line-spacing: 1.3;\u000a}\u000a\u000aline {\u000a margin-bottom: 10px;\u000a}
p40
sS'html_text'
p41
V<div class="field1">{{ID}}</div>\u000a<div class="field2">{{Answer}}</div>\u000a<div class="field3">{{IPA_Answer}}</div>\u000a<div class="field4">{{Subtitle}}</div>\u000a<div class="field5">{{IPA_Subtitle}}</div>\u000a<div class="field5">{{Extra}}</div>\u000a<div class="line">_______________________________</div>
p42
ss.